@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle, red 10%, yellow 40%, green 50%) ;
    color: black;
    font-size: 20px;
}
h1{
    text-decoration: underline;
    background-color:rgb(218, 181, 19);
    color: darkred;
}
h2 {
    color: darkred;
}
 p {
    text-align: justify;
 }